In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [91]:
train=pd.read_csv('/home/vinay/Downloads/HDFC_ML/DataSet/Train.csv')
test=pd.read_csv('/home/vinay/Downloads/HDFC_ML/DataSet/Test.csv')

/home/vinay/anaconda3/envs/tensor/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/vinay/anaconda3/envs/tensor/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2395 entries, Col1 to Col2397
dtypes: float64(844), int64(1548), object(3)
memory usage: 320.2+ MB

In [93]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20442 entries, 0 to 20441
Columns: 2394 entries, Col1 to Col2397
dtypes: float64(837), int64(1545), object(12)
memory usage: 373.4+ MB

In [94]:
test.shape

(20442, 2394)

In [95]:
train.shape

(17521, 2395)

In [96]:
trainobjects = train.select_dtypes(include=[object])
print(trainobjects.columns)

Index(['Col1', 'Col747', 'Col836'], dtype='object')

In [97]:
testobjects = test.select_dtypes(include=[object])
print(testobjects.columns)

Index(['Col1', 'Col702', 'Col733', 'Col742', 'Col754', 'Col763', 'Col791',
       'Col813', 'Col822', 'Col831', 'Col843', 'Col852'],
      dtype='object')

In [98]:
rcolumns=trainobjects+testobjects
print(rcolumns.columns)

Index(['Col1', 'Col702', 'Col733', 'Col742', 'Col747', 'Col754', 'Col763',
       'Col791', 'Col813', 'Col822', 'Col831', 'Col836', 'Col843', 'Col852'],
      dtype='object')

In [99]:
print(rcolumns.shape)

(20442, 14)

In [100]:
y=train['Col2']

In [101]:
train=train.drop(columns=rcolumns.columns)
train.drop('Col2', axis=1, inplace=True)
print(train.shape)

(17521, 2380)

In [102]:
x=train

In [103]:
x.fillna(0, inplace=True)

In [104]:
nan_cols = [i for i in x.columns if x[i].isnull().any()]
print(len(nan_cols))

0

In [105]:
y.isnull().sum()

0

In [106]:
print(x.shape,y.shape)

(17521, 2380) (17521,)

In [107]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3) # 70% training and 30% test

In [108]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)

In [109]:
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [110]:
y_pred=clf.predict(x_test)

In [111]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.901274491154651

In [83]:
test.shape

(20442, 2394)

In [85]:
test.Col1

0        RIGD58ZWD
1        RIH660YDS
2        RIH660Q96
3        RIYDO15W1
4        RIYBGC1ZD
           ...
20437     OL0I6O5R
20438     OL0I65ZW
20439     OL0I6CXW
20440       O2VIUO
20441     M7VKV5QD
Name: Col1, Length: 20442, dtype: object

In [112]:
testid=test['Col1']
print(testid.head())

0    RIGD58ZWD
1    RIH660YDS
2    RIH660Q96
3    RIYDO15W1
4    RIYBGC1ZD
Name: Col1, dtype: object

In [ ]:
test=test.drop(columns=rcolumns.columns)

In [115]:
print(test.shape)

(20442, 2380)

In [119]:
test.fillna(0, inplace=True)
nan_cols = [i for i in test.columns if test[i].isnull().any()]
print(len(nan_cols))

0

In [120]:
result=clf.predict(test)

In [123]:
zero=one=0
for val in result:
    if val==0:
        zero+=1
    else:
        one+=1
print("Zeros  :",zero)
print("Ones   :",one)

Zeros  : 20366
Ones   : 76

In [126]:
predictions=np.asarray([testid,result])
predictions=predictions.T

In [132]:
pd.DataFrame(predictions,columns=['Col1','Col2']).to_csv("/home/vinay/Downloads/HDFC_ML/DataSet/Predictions.csv")